<div>
    <a href="/new"><button>新增 Todo 頁面</button></a>
    <br>
    <a href="/5"><button>顯示一筆 Tod</button></a>
    <form action="/" method="POST"><button type="submit">新增一筆 Todo</button></form>
</div>